# dependencies
node_modules/
dist/

# env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
*.pem

# project context (local only)
context.md

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# database
*.db

# coverage
coverage/

# typescript
*.tsbuildinfo
